/ .media.pl-md-3.p-1.shadow-sm.p-md-3.mb-1.bg-white.rounded
/   -  if rework.user.profile.avatar?
/     = image_tag(rework.user.profile.avatar.icon.url, class: "img-fluid img-thumbnail")
/   - else
/     = image_tag('no_foto_icon.png', class: "mg-responsive img-thumbnail img-profile")
/   //= image_tag(rework.user.avatar.icon.url, class: "img-fluid img-thumbnail", alt: "Generic placeholder image") if rework.user.avatar?
/   .col-sm-12.col-md-11.media-body.pl-2.pr-0
/     h6.text-info.font-weight-bold
/       = rework.user.full_name
/       span.small.font-weight-light.text-muted.font-italic
/         | &nbsp;&#8986;&nbsp;
/         = l(rework.created_at, format: :datetime)
/     p.text-dark.font-italic.pb-0.mb-0
/       = rework.comment
