@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

th a {
     display:block;
      //background-color: Fuchsia;

      /* Making the headerlinks 100% width */
      width:100%;

      /* Making the headerlinks 100% height ??? */
      height: 100%;
}

th a:hover {
  text-decoration: none;
}

//.edit-button { padding-left: 5px; }
.edit-button.glyphicon-pencil { padding-left: 25px; }
.edit-button.glyphicon-trash { padding-left: 10px; }
.main-group { margin-top: 50px; }
.main-map { margin-top: 30px; }
#map {
  margin-top: 30px;
  width: 550px;
  height: 250px;
  //max-width: 100%;
//  height: auto;
}
.main_closed {
  text-decoration: blink;
  color: red;
}

#blink {
  -webkit-animation: blink 3s linear infinite;
  animation: blink 3s linear infinite;
}
@-webkit-keyframes blink {
  10% { text-shadow: 0 0px 1px hsl(0, 100%, 40%); }
  60% { text-shadow: 0 0px 1px crimson; }
  90% { text-shadow: 0 30px 40px transparent; }
}
@keyframes blink {
  10% { text-shadow: 0 0px 1px hsl(0, 100%, 40%); }
  60% { text-shadow: 0 0px 1px crimson; }
  90% { text-shadow: 0 30px 40px transparent; }
}

.carousel {
  margin-left: 50px;
  margin-right: 50px;

  //  padding: 0 40px 30px 40px;
}


.item .thumb {
  width: 25%;
	cursor: pointer;
	float: left;
}

.item .thumb img {
	width: 100%;
	margin: 2px;

}

.item img {
	width: 100%;
  height: auto;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
  border: none;
}

.carousel-control.left {
  margin-left: -25px;
}

.carousel-control.right {
  margin-right: -25px;
}

.carousel-control {
  width: 0%;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  color: grey;
  font-size: 40px;
}
