#order-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {

  color: black;
  background-color: #E9E9E9;
}

#navpilsNav a.nav-item.nav-link {
  color: black;
}

#esp_cert-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {

  color: black;
  background-color: #E9E9E9;

}

#navpilsNav a.nav-item.nav-link {
  color: black;
}
