.order-descript {
  min-width: 290px;
  max-width: 290px; }

.number-order {
   min-width: 145px;
   min-width: 145px;
   width: 145px;}

.status_order {
  min-width: 150px;
  max-width: 150px;
  width: 150px
}

.order_date_open {
  min-width: 145px;
  max-width: 145px;
  width: 145px
}

#order-nav-pills .nav-pills .nav-link.active, .nav-pills .show > .nav-link {

  color: black;
  background-color: #E9E9E9;
}

#navpilsNav a.nav-item.nav-link {
  color: black;
}

.rating_container {
  display: inline-block;
  transform: scale(0.7);
  margin: 0px;
  padding: 0px;
}

@media(max-width: 480px) {
  #order-table thead {
    font-size: 0.77rem;
  }

  #order-table tbody {
    font-size: 0.66rem;
  }

  th.number-order, td.number-order {
    max-width: 95px;
    min-width: 95px;
    }

  #order-table th.edit-control, #order-table td.edit-control {
    max-width: 50px;
    min-width: 50px;
    padding-left: 0px;
    padding-right: 3px;
  }

  #order-show .btn-sm {
    font-size: 0.528rem;

  }

  #order-show a {
    font-size: 0.68rem;
  }

  #order-show .card-body ul {
    padding: 0;
    margin: 0px;
    font-size:  0.75rem;
    li {
      list-style-type: none;
    }
  }

  #order-show {
     h5, .h5 { font-size: 1rem;}
   }

  #order-rework {
    padding-left:  0rem;
    h5, .h5 { font-size: 0.75rem; }
    h6, .h6 { font-size: 0.58rem; }
    p { font-size: 0.40rem; }
  }

  .control-order,
  .order-control-success,
  .order-control-danger,
  .order-control-closed { display: inline-block;  }

  .order-descript {
    max-width: 155px;
    min-width: 155px; }


}
