//Стиль для фона блока 'Исполнители'
.well-sm {
  margin-bottom: 0px;
  margin-top: 15px;
}

//Стиль для поле 'Исполнитель'
.performer-edit {
  margin-top: 25px;
}

//Стиль для флажка 'Соисполнитель'
.coexecutor-edit {
  margin-top: -8px;
  margin-bottom: -8px;
  padding-top: 0px;
  padding-bottom: 0px;
}

//Стиль для флажка 'Отправить сообщение'
.message-edit {
  margin-top: 10px;
}
