//Стиль блока комментарий 'Отбражение имени пользователя'
.user-comment {
  color: rgb(29, 103, 164) !important;
}

//Стиль блока комментарий 'Дата комментарии'
.rework-date {
  font-size: 70%;
  color: black;
}

//Стиль оформления комментарий (начало)
.arrow_box {
	position: relative;
	background: #def4fa;
	border: 1px solid #c2e1f5;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  float: right;
  max-width: 80%;
  display: inline-block;
  -webkit-box-shadow: 11px 11px 19px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 11px 19px -14px rgba(0,0,0,0.75);
  box-shadow: 11px 11px 19px -14px rgba(0,0,0,0.75);
  word-wrap: break-word;
}

.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #def4fa;
	border-width: 5px;
	margin-left: -5px;
}

.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 6px;
	margin-left: -6px;
}
//Стиль оформления комментарий (конец)
