= render partial: "shared/catalog_list", locals: {q: @q,
                                                  title: "Справочник ''Категория заявок''",
                                                  main_collection: @categories,
                                                  new_path: new_category_path}
